/* ######## RESET & TYPOGRAPHY ########*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Fira Sans", Roboto, Helvetica, Segoe, Arial, sans-serif;
	font-weight: 500;
	color: #333;
}
html,
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	color: #454441;
	background-color: #eee;
}
body {
	font-size: 16px;
}
@media screen and (max-width: 600px) {
	body {
		font-size: 13px;
	}
}
@media screen and (max-width: 450px) {
	body {
		font-size: 12px;
	}
}
@media screen and (max-width: 350px) {
	body {
		font-size: 11px;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	line-height: 1.25;
	text-rendering: optimizeLegibility;
}
p {
	margin: 0;
}
li {
	color: #888580;
}
a {
	color: #555;
	text-decoration: none;
}
a:hover,
a:focus {
	text-decoration: underline;
}
button,
input {
	border-radius: 0;
	border: none;
	box-shadow: none;
	background-image: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
/* ######## LAYOUT ########*/
.container {
	width: 80%;
	margin: 0 auto;
}
@media (max-width: 600px) {
	.container {
		width: 90%;
	}
}
@media (max-width: 400px) {
	.container {
		width: 95%;
	}
}
@media (min-width: 1000px) {
	.container {
		width: 60%;
	}
}
@media (min-width: 1500px) {
	.container {
		width: 50%;
	}
}
.content {
	margin-top: 8em;
}
.day {
	margin: 3em 0;
}
.date {
	margin-bottom: 1.5em;
	font-size: 1.4em;
	font-weight: 800;
}
.lecture {
	margin: 1em 0;
}
.room {
	display: inline-block;
	width: 3.1em;
	font-size: 4em;
	font-weight: 800;
	transform: translateY(-0.5em);
	-webkit-transform: translateY(-0.5em);
}
@media screen and (max-width: 720px) {
	.room {
		width: 2.8em;
		font-size: 3.6em;
		transform: translateY(-0.65em);
		-webkit-transform: translateY(-0.65em);
	}
}
.room,
.time {
	font-feature-settings: 'tnum';
	-moz-font-feature-settings: 'tnum';
	-webkit-font-feature-settings: 'tnum';
	-ms-font-feature-settings: 'tnum';
}
.info {
	display: inline-block;
	width: 65%;
}
@media screen and (max-width: 720px) {
	.info {
		width: 59%;
	}
}
@media screen and (max-width: 450px) {
	.info {
		width: 53%;
	}
}
@media screen and (max-width: 140px) {
	.info {
		width: 35%;
	}
}
.info > * {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.time {
	font-size: 1.6em;
	font-weight: 600;
	letter-spacing: 0.04em;
}
.title {
	font-size: 1.4em;
}
.prof {
	margin: 0.3em 0;
	font-size: 1em;
}
input {
	width: 100%;
	padding: 1em;
	font-size: 1.2em;
}
/* ######## INPUT AREA ########*/

.topbar {
	position: fixed;
	top: 0;
	height: 8em;
	width: inherit;
	padding-top: 1em;
	background-color: #eee;
	z-index: 100000;
}
.topbar > * {
	display: inline-block;
	position: relative;
	top: 0.3em;
}
.permanent {
	visibility: hidden;
	background-color: transparent;
	text-align: right;
}
.permanent > * {
	visibility: visible;
}
.hidden-topbar {
	transform: translateY(-10em);
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.2s ease-out;
}
.visible-topbar {
	transform: translateY(0);
  transition: transform 0.3s ease-out;
  -webkit-transition: transform 0.2s ease-out;
}
.url-input {
	width: 76%;
}
@media screen and (min-width: 850px) {
	.url-input {
		width: 82%;
	}
}
@media screen and (min-width: 1000px) {
	.url-input {
		width: 78%;
	}
}@media screen and (min-width: 1200px) {
	.url-input {
		width: 83%;
	}
}
@media screen and (min-width: 1400px) {
	.url-input {
		width: 85%;
	}
}
@media screen and (max-width: 440px) {
	.url-input {
		width: 68%;
	}
}
.url-button {
	width: 25%;
	background-color: #999;
	color: #fff;
}
.icon {
	position: relative;
	top: 1.5em;
	height: 3em;
	margin-left: 1em;
	padding: 0.3em;
	//transform: translateY(1.2em);
	-webkit-transform: translateY(1.2em);
	cursor: pointer;
}
.icon:hover {
	//background-color: #ddd;
}
.update {
}
.up {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transition: transform 0.2s ease-out;
	-webkit-transition: transform 0.2s ease-out;
}
.down {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transition: transform 0.2s ease-out;
	-webkit-transition: transform 0.2s ease-out;
}
/* ######## NOSCRIPT ########*/

.nsc {
	width: 50%;
	margin: 2em auto;
}
@media screen and (max-width: 1200px) {
	.nsc {
		width: 60%;
	}
}
@media screen and (max-width: 1000px) {
	.nsc {
		width: 80%;
	}
}
.nsc-head {
	font-size: 5em;
	font-weight: 800;
	letter-spacing: 0.02em;
}
@media screen and (max-width: 650px) {
	.nsc-head {
		font-size: 4em;
	}
}
@media screen and (max-width: 450px) {
	.nsc-head {
		font-size: 3.7em;
	}
}
.nsc-subhead {
	margin: 1em 0;
	font-size: 1.8em;
}
.nsc-txt {
	margin: 1em 0;
	font-size: 1.2em;
	font-weight: 400;
}