/* ######## RESET & TYPOGRAPHY ########*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Fira Sans", Roboto, Helvetica, Segoe, Arial, sans-serif;
  font-weight: 500;
  color: #333;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: #454441;
  background-color: #eee;
}
body {
	font-size: 16px;
}
@media screen and (max-width: 600px) {
	body {
		font-size: 13px;
	}
}
@media screen and (max-width: 450px) {
	body {
		font-size: 12px;
	}
}
@media screen and (max-width: 350px) {
	body {
		font-size: 11px;
	}
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

p {
  margin: 0;
}
li {
  color: #888580;
}
a {
  color: #555;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
button, input {
  border-radius: 0;
  border: none;
  box-shadow:none;
  background-image: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* ######## LAYOUT ########*/

.container {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 400px) {
  .container {
    width: 95%;
  }
}
@media (min-width: 1000px) {
  .container {
    width: 60%;
  }
}
@media (min-width: 1500px) {
  .container {
    width: 50%;
  }
}
.day {
  margin: 3em 0;
}
.date {
  margin-bottom: 1.5em;
  font-size: 1.4em;
  font-weight: 800;
}
.lecture {
  margin: 1em 0;
}
.room {
  display: inline-block;
  width: 3.1em;
  font-size: 4em;
  font-weight: 800;
  transform: translateY(-0.5em);
  -webkit-transform: translateY(-0.5em);
}
@media screen and (max-width: 720px) {
	.room {
		width: 2.8em;
		font-size: 3.6em;
		transform: translateY(-0.65em);
  	-webkit-transform: translateY(-0.65em);
	}
}
.room, .time {
	font-feature-settings: 'tnum';
	-moz-font-feature-settings: 'tnum';
	-webkit-font-feature-settings: 'tnum';
	-ms-font-feature-settings: 'tnum';
}

.info {
  display: inline-block;
  width: 65%;
}
@media screen and (max-width: 720px) {
	.info {
		width: 59%;
	}
}
@media screen and (max-width: 450px) {
	.info {
		width: 53%;
	}
}
@media screen and (max-width: 140px) {
	.info {
		width: 35%;
	}
}

.info > * {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.time {
  font-size: 1.6em;
  font-weight: 600;
  letter-spacing: 0.04em;
}
.title {
  font-size: 1.4em;
}
.prof {
  margin: 0.3em 0;
  font-size: 1em;
}

input {
  width: 100%;
  margin-top: 2.5em;
  padding: 1em;
  font-size: 1.2em;
}